.hero {
  display: flex;
  width: 100%;
  padding-top: 4rem;

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Notebooks */
@media screen and (min-width: 64rem) {
  .hero {
    padding-top: 5rem;
  }
}
