.hero {
  display: flex;
  width: 100%;
  padding-top: 4rem;

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Tablets */
@media screen and (min-width: 48rem) {
  .hero {
    padding: 0;
  }
}
