.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--bg-primary);
  height: 4rem;

  .navbar__logo {
    height: 100%;
  }

  .navbar__menu {
  }
}
