.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem 1.5rem;

    .navbar__logo {
      display: flex;
      height: 100%;

      .navbar__logo__image {
        height: 100%;
      }
    }

    .navbar__menu-button {
      height: 2rem;
      width: 2rem;
    }
  }

  .navbar__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;

    .navbar__item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-primary);
      font-weight: 600;
      padding: 1rem;
      width: 100%;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: var(--text-muted);
      }
    }
  }

  .navbar__desktop {
    display: none;

    .navbar__item {
      color: var(--text-primary);
      font-weight: 600;
      padding: 0.25rem;
      text-transform: uppercase;

      &:hover,
      &:focus {
        border-bottom: 2px solid #000;
      }
    }
  }
}

/* Tablets */
@media screen and (min-width: 48rem) {
  .navbar {
    .navbar__container {
      padding-inline: 1.5rem;

      .navbar__menu-button {
        display: none;
      }
    }

    .navbar__desktop {
      display: flex;
      gap: 2rem;
    }

    .navbar__mobile {
      display: none;
    }
  }
}

/* Notebooks */
@media screen and (min-width: 64rem) {
  .navbar {
    .navbar__container {
      height: 5rem;
      padding-inline: 2rem;
      max-width: 64rem;
    }
  }
}
