.redes-sociais {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  grid-area: rs;

  .redes-sociais__title {
    font-size: 1rem;
    font-weight: 600;
  }

  .redes-sociais__icons {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
      width: 2rem;
      height: 2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
