.pagamento {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  grid-area: pagamento;

  .pagamento__title {
    font-size: 1rem;
    font-weight: 600;
  }

  .pagamento__icons {
    display: grid;
    place-items: center;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
}
