.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 5rem 1rem;
  gap: 2rem;

  .news__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .news__image {
    object-fit: cover;
  }
}

/* Tablets */
@media (min-width: 48rem) {
  .news {
    padding-inline: 1.5rem;
    max-width: 48rem;
  }
}

/* Notebooks */
@media (min-width: 64rem) {
  .news {
    padding-inline: 2rem;
    max-width: 64rem;
  }
}

/* Desktops */
@media (min-width: 80rem) {
  .news {
    max-width: 80rem;
  }
}
