:root {
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 95%);
  --bg-tertiary: hsl(0, 0%, 90%);

  --text-primary: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);
}

body {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

main {
  min-height: calc(100vh - 64px);
}
