.looks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 1rem;
  gap: 2rem;

  .looks__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .looks__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;

    .looks__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .looks__item__image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Tablets */
@media screen and (min-width: 48rem) {
  .looks {
    padding-inline: 1.5rem;

    .looks__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/* Notebooks */
@media screen and (min-width: 64rem) {
  .looks {
    min-height: 100vh;
    padding-inline: 2rem;
    max-width: 64rem;
  }
}
