.launches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 1rem;
  padding-top: 5rem;
  gap: 2rem;

  .launches__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

/* Tablets */
@media (min-width: 48rem) {
  .launches {
    padding-inline: 1.5rem;
  }
}

/* Notebooks */
@media (min-width: 64rem) {
  .launches {
    min-height: 100vh;
    padding-inline: 2rem;
    max-width: 64rem;
  }
}

/* Desktops */
@media (min-width: 80rem) {
  .launches {
    max-width: 80rem;
  }
}
