.launches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  padding-top: 5rem;
  gap: 2rem;

  .launches__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .launches__container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    gap: 2rem;
    width: 100%;

    .launches__grid-1 {
      display: grid;
      grid-template-columns: 1fr;
      place-content: center;
      place-items: center;
      gap: 1rem;

      .launches__image {
        width: 50%;
        height: auto;
      }
    }

    .launches__grid-2 {
      display: grid;
      grid-template-columns: 1fr;
      place-content: center;
      place-items: center;
      gap: 1rem;
      width: 100%;
      padding: 1.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;

      .launches__name {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
      }

      .launches__colors {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      .launches__colors__title {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
      }

      .launches__colors__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .launches__colors__item__color {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
      }

      .launches__description {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
      }

      .launches__description__text {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
